@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1>Seja Bem Vindo Festeiro</h1><br />
   
    <img src="~/Images/FestaCapa.PNG" alt="some text" width=1100 height=600>
</div>

<style>
    h1 {
        text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
    }

    h2 {
        text-shadow: 0 0 3px #FF0000, 0 0 5px #000080;
    }
</style>

